@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;500;600&display=swap');

*, 
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* blue-green */
:root {
  --text-main: white;
  --text-sub: rgba(255, 255, 255, 0.7);
  --background: #263238;
  --num-container: #37474F;
  --card-container: #546E7A;
  --button-read: #AB9085;
}

/* brown */
/* :root {
  --text-main: white;
  --text-sub: rgba(255, 255, 255, 0.7);
  --background: #3E2723;
  --num-container: #4E342E;
  --card-container: #6D4C41;
  --button-read: #76AD84;
} */

/* light-blue */
/* :root {
  --text-main: black;
  --text-sub: rgba(0, 0, 0, 0.7);
  --background: #B4D9DD;
  --num-container: #9CBEC1;
  --card-container: #E0F7FA;
  --button-read: #365C4F;
} */

body {
  background: var(--background);
  font-family: 'Overpass', sans-serif;
}

header {
  min-width: 100%;
  height: 80px;
  background-color: var(--num-container);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 900px;
  padding: 25px 0 25px 0;
  margin-top: 30px;
  background-color: var(--card-container);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.read-state {
  height: fit-content;
  margin-left: 85px;
  display: grid;
  grid-template-columns: 1fr auto; 
  row-gap: 20px;
  column-gap: 30px;
  letter-spacing: 1px;
}

.read-state > p {
  grid-row: 1 / 3;
  color: var(--text-main);
  font-size: 1.4rem;
  font-weight: 600;
  padding-top: 0.7rem;
}

.num-container {
  background: #37474F;
  font-size: 1.2rem;
  width: 100%;
  padding: 0.7rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.num-container > p {
  color: var(--text-sub);
  height: 1.2rem;
}

.current-page {
  color: var(--text-main);
  font-weight: 600;
}

.completed-btn {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  background: var(--button-read);
  border: none;
  color: var(--background);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.book {
  margin-right: 70px;
  display: flex;
}

.book-final-state {
  display: none;
}

.book-img-container {
  /* border: 1px solid #000; */
  width: 130px;
  height: 180px;
  margin-right: 50px;
}

.book-img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.book-details {
  width: 250px;
}

.title {
  font-size: 1.4rem;
  color: var(--text-main);
  letter-spacing: 1px;
  margin-top: 10px;
}

.author {
  color: var(--text-sub);
  margin-bottom: 15px;
  font-size: 0.9rem;
}

.info {
  color: var(--text-sub);
  font-size: 0.9rem;
  height: 110px;
  overflow-y: auto;
}

.info::-webkit-scrollbar {
  width: 3px;
  background-color: var(--button-read);
}

.info::-webkit-scrollbar-thumb {
  background-color: var(--background);
  border-radius: 10px;
}

/* --------ADD BOOK--------------------------------------------------------------------------------------------------------------------- */
.add-book-btn {
  width: 180px;
  background: var(--card-container);
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.5);
}

.add-book-btn > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--num-container);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--card-container);
  box-shadow: 2px 2px 3px rgb(0, 0, 0, 0.5);
}

.add-book-btn p {
  margin-top: 7px;
  color: var(--text-sub);
}

.add-book-btn * {
  pointer-events: none;
}

#form {
  display: none;
}

.num-container:hover,
.completed-btn:hover,
.book-img-container:hover,
.add-book-btn:hover {
  transform: translate(0px, 2px);
  cursor: pointer;
}

.num-container,
.completed-btn,
.book-img-container,
.add-book-btn {
  transition: transform 0.2s;
}